node_modules/
www/
www-bundle.js
clinic-native/www/
clinic-native/www-bundle.js
bundle.js
bundle-test.js
.firebase/
dist-web/LabSpecial.apk
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
ios/App/build/
ios/App/Pods/
ios/DerivedData/
*.log
